/* screen - mobile-menu-overlay */

.mobile-menu-overlay {
  align-items: flex-start;
  display: flex;
  height: 389px;
  padding: 63px 99px;
  width: 375px;
}

#overlay-mobile-menu-overlay {
  align-items: center;
  background-color: #ffffff00;
  justify-content: center;
}

.mobile-menu-overlay .overlap-group {
  height: 253px;
  position: relative;
  width: 154px;
}

.mobile-menu-overlay .blog {
  left: 32px;
  letter-spacing: 0.11px;
  line-height: 15px;
  position: absolute;
  top: 150px;
  white-space: nowrap;
}

.mobile-menu-overlay .support {
  left: 32px;
  letter-spacing: 0.11px;
  line-height: 15px;
  position: absolute;
  top: 88px;
  white-space: nowrap;
}

.mobile-menu-overlay .log-out {
  color: var(--blueberry);
  font-family: var(--font-family-tahoma-regular);
  font-size: var(--font-size-m);
  font-weight: 400;
  left: 32px;
  letter-spacing: 0.11px;
  line-height: 15px;
  position: absolute;
  top: 214px;
  white-space: nowrap;
}

.mobile-menu-overlay .discover {
  left: 32px;
  letter-spacing: 0.11px;
  line-height: 15px;
  position: absolute;
  top: 24px;
  white-space: nowrap;
}

.mobile-menu-overlay .hover {
  background-color: var(--aqua-pearl);
  border: 1px solid;
  border-color: var(--malibu);
  cursor: pointer;
  height: 64px;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: all 0.2s ease;
  width: 154px;
}

.mobile-menu-overlay .hover:hover {
  opacity: 1;
}

.mobile-menu-overlay .hover-1 {
  background-color: var(--aqua-pearl);
  border: 1px solid;
  border-color: var(--malibu);
  cursor: pointer;
  height: 64px;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 63px;
  transition: all 0.2s ease;
  width: 154px;
}

.mobile-menu-overlay .hover-1:hover {
  opacity: 1;
}

.mobile-menu-overlay .hover-2 {
  background-color: var(--aqua-pearl);
  border: 1px solid;
  border-color: var(--malibu);
  cursor: pointer;
  height: 64px;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 126px;
  transition: all 0.2s ease;
  width: 154px;
}

.mobile-menu-overlay .hover-2:hover {
  opacity: 1;
}

.mobile-menu-overlay .hover-3:hover {
  opacity: 1;
}
